html{
    font-size: 62.5%;
}
body {
    font-family: helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    background-color: rgb(255, 174, 0);
}
button{
    cursor: pointer;
}
button:disabled{
    cursor: default;
}

.is-active {
    font-weight: bold;
}